
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}
</style>
<body class="w3-light-grey">
  
  
<!-- Navigation bar with social media icons -->
<div class="w3-bar w3-black w3-hide-small">
  <a href="https://www.facebook.com/rusty.story.9?__tn__=%2CdCH-R-R&eid=ARDN2NSpmyZbYK5Uoa0ph8xPSAheTcLiQKWQ1DD3mlCNhmVsKBfM1M2jAojWzVGReqsInIDMiiiUF1Rd&hc_ref=ARRvBsLRUYr1RdVaklUSI8XQa59UfOkpRtA3Zg_-7OZjLxavg2R1i3T6QXbpscpYTYw&fref=nf" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
  <a href="https://www.instagram.com/rusty_story/" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
  <a href="/" class="w3-bar-item w3-button w3-right">Home</a>
</div>
  
<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">

  <!-- Header -->
  <header class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="w3-xxxlarge"><b>BULLDOG PUPPIES</b></h1>
    <h6>Welcome to the first litter of <span class="w3-tag">Millie</span></h6>
  </header>

  <!-- Image header -->
  <header class="w3-display-container w3-wide" id="home">
      <%= image_tag("allpuppies.jpg",:class=> "w3-image", :alt => "rss feed", :width =>"1600", :height =>"1060") %>
  <!--    <img class="w3-image" src="allpuppies.jpg" alt="Fashion Blog" width="1600" height="1060"> -->
  <!-- was 1200 by 800 -->
    
    <div class="w3-display-left w3-padding-large">
      <h1 class="w3-text-white">Puppies</h1>
      <h1 class="w3-jumbo w3-text-white w3-hide-small"><b>EVERYWHERE</b></h1>
      <h6><button class="w3-button w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off" onclick="document.getElementById('subscribe').style.display='block'">CONTACT OWNER</button></h6>
    </div>
  </header>

  <!-- Grid -->
  <div class="w3-row w3-padding w3-border">

    <!-- Blog entries -->
    <div class="w3-col l8 s12">
    
      <!-- Blog entry -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>LOUIE</h3>
          <h5>Last Updated <span class="w3-opacity">June 24, 2019</span></h5>
        </div>

        <div class="w3-justify">
            <%= image_tag("louis.JPG", :alt => "rss feed", :width =>"40%",  :class => "w3-padding-16") %>
          
          <p><strong>I'm Louie!</strong> I am named after Louis Vuitton because of my wonderful color. I love to snuggle with the other pups and play with them when I am awake.
          
          
          </p>
          <p>Price: $3998</p>
          <p>Sex: boy</p>
          <p>Registered? yes</p>
          <a href = "/welcome/p1">More Pictures of Louie </a>
           
          
          <p class="w3-clear"></p>

        </div>
      </div>
      
      
      
      
      
            <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>BUSTER</h3>
          <h5>Last Updated <span class="w3-opacity">June 24, 2019</span></h5>
        </div>

        <div class="w3-justify">
            <%= image_tag("buster.JPG", :alt => "rss feed", :width =>"40%",  :class => "w3-padding-16") %>
          
          <p><strong>I'm Buster!</strong> 
          I am one of the two boys. I have a brown body and black tail, along with a distinct face. I love to eat and play all the time. 
          
          
          
          </p>
          <p>Price: $3998</p>
          <p>Sex: boy</p>
          <p>Registered? yes</p>
          <a href = "/welcome/p4">More Pictures of Buster </a>
          
          <p class="w3-clear"></p>

        </div>
      </div>
      
      
      
      
      
      
      <hr>

      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>MJ</h3>
          <h5>Last Updated <span class="w3-opacity">June 24, 2019</span></h5>
        </div>

        <div class="w3-justify">
            <%= image_tag("mj.JPG", :alt => "rss feed", :width =>"40%",  :class => "w3-padding-16") %>
          
          <p><strong>I'm MJ, or Millie Junior!</strong> 
          Im full of personality and enjoy playtime the most. I can't wait to play fetch with you! 
           
          
          </p>
          <p>Price: $3998</p>
          <p>Sex: girl</p>
          <p>Registered? yes</p>
           <a href = "/welcome/p2">More Pictures of MJ </a>
          
          <p class="w3-clear"></p>

        </div>
      </div>
      
      
      
      
            <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>JELLYBEAN</h3>
          <h5>Last Updated <span class="w3-opacity">June 24, 2019</span></h5>
        </div>

        <div class="w3-justify">
            <%= image_tag("solddog.jpg", :alt => "rss feed", :width =>"40%",  :class => "w3-padding-16") %>
          
          <p><strong>I'm Jellybean!</strong> 
          I am sweet, energetic, and full of life.  I love to be held!
          
          
          
          </p>
          <p>Price: $3998</p>
          <p>Sex: girl</p>
          <p>Registered? yes</p>
        
          
          <p class="w3-clear"></p>

        </div>
      </div>
      
      
      
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>ROSE</h3>
          <h5>Last Updated <span class="w3-opacity">June 24, 2019</span></h5>
        </div>

        <div class="w3-justify">
            <%= image_tag("rose.JPG", :alt => "rss feed", :width =>"40%",  :class => "w3-padding-16") %>
          
          <p><strong>I'm Rose!</strong> 
          I may be one of the smaller ones, but I play with others like I am the biggest. 
          
          
          </p>
          <p>Price: $3500</p>
          <p>Sex: girl</p>
          <p>Registered? yes</p>
           
          <a href = "/welcome/p3">More Pictures of Rose </a>
          <p class="w3-clear"></p>

        </div>
      </div>
      
      

      
      
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>SQUINTS</h3>
          <h5>Last Updated <span class="w3-opacity">June 24, 2019</span></h5>
        </div>

        <div class="w3-justify">
            <%= image_tag("squints.JPG", :alt => "rss feed", :width =>"40%",  :class => "w3-padding-16") %>
          
          <p><strong>I'm Squints!</strong> 
         I got my name because I was the last to open my eyes. I love kisses and can't wait to snuggle with you!

          
          
          </p>
          <p>Price: $3500</p>
          <p>Sex: girl</p>
          <p>Registered? yes</p>
           
           <a href = "/welcome/p5">More Pictures of Squints </a>
          <p class="w3-clear"></p>

        </div>
      </div>
      
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>PENELOPE</h3>
          <h5>Last Updated <span class="w3-opacity">June 24, 2019</span></h5>
        </div>

        <div class="w3-justify">
            <%= image_tag("penelope.JPG", :alt => "rss feed", :width =>"40%",  :class => "w3-padding-16") %>
          
          <p><strong>I'm Penelope!</strong> 
          Some may say I’m a bit spoiled, but that's just because I’m easy to get along with and everyone wants a piece of me.   
          
          
          </p>
          <p>Price: $3500</p>
          <p>Sex: girl</p>
          <p>Registered? yes</p>
           
           <a href = "/welcome/p6">More Pictures of Penelope </a>
          <p class="w3-clear"></p>

        </div>
      </div>
      
      
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>PUMPKIN</h3>
          <h5>Last Updated <span class="w3-opacity">June 24, 2019</span></h5>
        </div>

        <div class="w3-justify">
             <%= image_tag("pumpkin.JPG", :alt => "rss feed", :width =>"40%",  :class => "w3-padding-16") %>
          
          <p><strong>Hi, I'm Pumpkin!</strong> 
          I am the runt… need I say more? I may be little, but I'm tough.    
          
          
          </p>
          <p>Price: $3500</p>
          <p>Sex: girl</p>
          <p>Registered? yes</p>
            <a href = "/welcome/p7">More Pictures of Pumpkin </a>
          
          <p class="w3-clear"></p>

        </div>
      </div>
      
      
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>LULU</h3>
          <h5>Last Updated <span class="w3-opacity">June 24, 2019</span></h5>
        </div>

        <div class="w3-justify">
            <%= image_tag("lulu.JPG", :alt => "rss feed", :width =>"40%",  :class => "w3-padding-16") %>
          
          <p><strong>I'm Lulu!</strong> 
          I love to be held because and enjoy quality time with humans.
          
          
          </p>
          <p>Price: $3500</p>
          <p>Sex: girl</p>
          <p>Registered? yes</p>
           <a href = "/welcome/p8">More Pictures of Lulu </a>
           
          
          <p class="w3-clear"></p>

        </div>
      </div>

      
    <!-- END BLOG ENTRIES -->
    </div>

    <!-- About/Information menu -->
    <div class="w3-col l4">
      <!-- About Card -->
      <div class="w3-white w3-margin">
          <%= image_tag("russandp.jpg", :alt => "rss feed", :width => "60%") %>
       
        <div class="w3-container w3-black">
          <h4>Millie</h4>
          <p>Hello, I'm Millie!  As you might have guessed, I am the mother of these puppies.</p>
          <p> I am cared for by Rusty Story (left) and Peyton Ford (right).</p>
          <p> I love my puppies very much and I want them to have the best home.  </p>
          <p> Will you care for my puppies?  </p>
        </div>
      </div>
      <hr>

      <!-- Posts -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>More Information</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
          
          <li class="w3-padding-16"> <a href = "/welcome/p1"></a>
           <%= image_tag("russandp.jpg", :alt => "rss feed", :width =>"50px",  :class => "w3-left w3-margin-right") %>
            <span class="w3-large">The Dog Parents</span>
            
            <br>
            <span> <a href = "/welcome/parents">More Info Here </a> </span>
          </li>
          

          
          <li class="w3-padding-16">
           <!--  <img src="/app/assets/images/louis.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px"> -->
            <%= image_tag("louis.JPG", :alt => "rss feed", :width =>"50px",  :class => "w3-left w3-margin-right") %>
            <span class="w3-large">Louie</span>
            <br>
            <span>Girl, $3998</span>
            <br>
            <span> <a href = "/welcome/p1">More About Louie </a> </span>
          </li>
          <li class="w3-padding-16">
             <%= image_tag("mj.JPG", :alt => "rss feed", :width =>"50px",  :class => "w3-left w3-margin-right") %>
            <span class="w3-large">MJ</span>
            <br>
            <span>Girl, $3998</span>
            <br>
            <span> <a href = "/welcome/p2">More about MJ </a> </span>
          </li>
          <li class="w3-padding-16">
             <%= image_tag("rose.JPG", :alt => "rss feed", :width =>"50px",  :class => "w3-left w3-margin-right") %>
            <span class="w3-large">Rose</span>
            <br>
            <span>Girl, $3500</span>
            <br>
            <span> <a href = "/welcome/p3">More about Rose</a> </span>
          </li>

          <li class="w3-padding-16">
             <%= image_tag("buster.JPG", :alt => "rss feed", :width =>"50px",  :class => "w3-left w3-margin-right") %>
            <span class="w3-large">Buster</span>
            <br>
            <span>Boy, $3998</span>
            <br>
            <span> <a href = "/welcome/p4">More about Buster </a> </span>
          </li>
          <li class="w3-padding-16">
             <%= image_tag("squints.JPG", :alt => "rss feed", :width =>"50px",  :class => "w3-left w3-margin-right") %>
            <span class="w3-large">Squints</span>
            <br>
            <span>Girl, $3500</span>
            <br>
            <span> <a href = "/welcome/p5">More about Squints </a> </span>
          </li>
          <li class="w3-padding-16">
             <%= image_tag("penelope.JPG", :alt => "rss feed", :width =>"50px",  :class => "w3-left w3-margin-right") %>
            <span class="w3-large">Penelope</span>
            <br>
            <span>Girl, $3500</span>
            <br>
            <span> <a href = "/welcome/p6">More about Penelope </a> </span>
          </li>
          <li class="w3-padding-16">
             <%= image_tag("pumpkin.JPG", :alt => "rss feed", :width =>"50px",  :class => "w3-left w3-margin-right") %>
            <span class="w3-large">Pumpkin</span>
            <br>
            <span>Girl, $3500</span>
            <br>
            <span> <a href = "/welcome/p7">More about Pumpkin </a> </span>
          </li>
          <li class="w3-padding-16">
             <%= image_tag("lulu.JPG", :alt => "rss feed", :width =>"50px",  :class => "w3-left w3-margin-right") %>
            <span class="w3-large">Lulu</span>
            <br>
            <span>Girl, $3500</span>
            <br>
            <span> <a href = "/welcome/p8">More about Lulu </a> </span>
          </li>
        </ul>
      </div>
      <hr>

  
      
      <!-- Subscribe -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Email the owners</h4>
        </div>
        <div class="w3-container w3-white">
          
          <p>I'm Rusty Story and I'm the owner of these cute puppies.  Email me to schedule an appointment to see them. </p>
          <p><button type="button" onclick="document.getElementById('subscribe').style.display='block'" class="w3-button w3-block w3-red">Email Rusty</button></p>
        </div>
      </div>

    <!-- END About/Intro Menu -->
    </div>

  <!-- END GRID -->
  </div>

<!-- END w3-content -->
</div>

<!-- Subscribe Modal -->
<div id="subscribe" class="w3-modal w3-animate-opacity">
  <div class="w3-modal-content" style="padding:32px">
    <div class="w3-container w3-white">
      <i onclick="document.getElementById('subscribe').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
      <h2 class="w3-wide">Email the Owner</h2>
      <p>Shoot me, Rusty Story, an email to make an appointment to see the puppies. </p>
      
      <a href="mailto:rstory08@gmail.com">
      <button type="button" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('subscribe').style.display='none'" >Contact Rusty</button>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey" style="padding:32px">
  <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <p>We are an honest Christian family and this is our first time selling puppies.  </p>
  <p>We want our puppies to have the best home, and we would really like to get to know you.</p>
  <p>Please contact us with any questions.  </p>
  <p>For the safety of the dogs, we do not ship them.  </p>
  <p>Love, Rusty and Peyton </p>
</footer>

<script>
// Toggle between hiding and showing blog replies/comments
document.getElementById("myBtn").click();
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

function likeFunction(x) {
  x.style.fontWeight = "bold";
  x.innerHTML = "✓ Liked";
}
</script>

</body>
</html>
